*{
    margin:0%; 
   padding: 0%;
   box-sizing: border-box;
}

html, body{
   height: 100%;
   width: 100%;
background-color: rgb(137, 170, 154);
display: flex;
align-items: center;
justify-content: center;
}


main{
background-color: rgb(152, 194, 180);
box-shadow: 3px 2px 2px rgb(105, 121, 117);
}

img{
    border-radius: 50%;
    width: 100%;
    height: 100px;
}

#img2{
    border-radius: 50%;
    width: 18%;
    height: 100px;
}

#colum{
    display: flex;
    align-items: center;
    width: 600px;
    height: 150px;
    padding: 1px 0 1px 50px;
}



#nombre{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 20px;   
    padding-left: 150px;
}

#inf{
    color: rgb(135, 141, 146);
    font-family: 'Times New Roman', Times, serif;
padding-left: 190px;
}

hr{
    width: 90%;
    margin: auto;
}